<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Sandra Shtabnaya">
        <title>Table Template</title>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


        <!-- component styles -->
        <link href="./../styles/global.css" rel="stylesheet">
        <link href="./../styles/chart.css" rel="stylesheet">
        <link href="./../styles/table.css" rel="stylesheet">

    </head>
    <body>
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-12 col-md">
                        <h3>Round Data</h3>
                    </div>
                    <div class="col-8 col-md">
                        <form>
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span data-feather="search"></span>
                                    </div>
                                </div>
                                <input class="form-control" type="search" placeholder="search projects" aria-label="enter project to search">
                            </div>
                        </form>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#warningModal">
                            <span data-feather="minus"></span>
                            Delete
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#uploadModal">
                            <span data-feather="plus"></span>
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="bg-light">
                        <tr>
                            <th><input type="checkbox" class="form-check-input" id="selectAll"></th>
                            <th class="col-8">Name</th>
                            <th>Year</th>
                            <th>Region</th>
                            <th>Projects</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><input type="checkbox" class="form-check-input"></th>
                            <td><a href="round.html">2019 Round Data</a></td>
                            <td>2019</td>
                            <td>local</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <th><input type="checkbox" class="form-check-input"></th>
                            <td><a href="round.html">2019 Regional Data</a></td>
                            <td>2019</td>
                            <td>state</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th><input type="checkbox" class="form-check-input"></th>
                            <td><a href="round.html">2017 Regional SSS Scores</a></td>
                            <td>2017</td>
                            <td>local</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <th><input type="checkbox" class="form-check-input"></th>
                            <td><a href="round.html">2017 State Scores</a></td>
                            <td>2017</td>
                            <td>state</td>
                            <td>126</td>
                        </tr>
                        <tr>
                            <th><input type="checkbox" class="form-check-input"></th>
                            <td><a href="round.html">2015 Regional Projects</a></td>
                            <td>2015</td>
                            <td>local</td>
                            <td>33</td>
                        </tr>
                        <tr>
                            <th><input type="checkbox" class="form-check-input"></th>
                            <td><a href="round.html">2015 State Projects</a></td>
                            <td>2015</td>
                            <td>state</td>
                            <td>113</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="pagination justify-content-end" aria-label="table pagination">
                    <div class="col-2">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Page</div>
                                </div>
                                <input class="form-control" type="number" value="1" min="1" max="32" aria-label="enter table page">
                            </div>
                        </form>
                    </div>
                    <button type="button" class="btn btn-sm disabled" href="#" tabindex="-1" aria-label="previous page">
                        <span data-feather="arrow-left"></span>
                    </button>
                    <button type="button" class="btn btn-sm text-primary" href="#" aria-label="next page">
                        <span data-feather="arrow-right"></span>
                    </button>
                </div>   
            </div>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
        <script src="./../scripts/global.js"></script>

    </body>
</html>