.btn[data-toggle="collapse"] {
    display: block;
    padding: 0 0 1rem 0;
}

.card-footer .btn[data-toggle="collapse"] {
    padding: .375rem .75rem;
}

.card:first-child {
    margin-top: 1rem !important;
}

.btn[data-toggle="collapse"] h3 {
    display: inline;
    padding-right: 10px;
}

.btn[aria-expanded=true] .feather-chevron-down {
    display: none;
}

.btn[aria-expanded=false] .feather-chevron-up {
    display: none;
}

.collapse h3 {
    font-size: 1.3rem;
}