form {
    margin-top: 2em;
}

.form-check-inline {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-control:disabled {
    background-color: white;
}

.form-label[disabled],
h3[disabled],
.form-label[disabled]~.input-group, 
.form-control:disabled {
    opacity: 0.6;
}

.form-check-input {
    width: 2em;
    height: 2em;
}

table .form-check-input {
    width: 1em;
    height: 1em;
}

.form-check-label {
    margin-left: 0.5rem;
}

.form-check .form-check-input {
    margin-left: -0.5rem;
}

form h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form .card-header h3 {
    margin-top: 0;
}

form h3.card-title {
    margin-top: 0;
}

form .card {
    margin: 2rem 0 2rem;
}

.row-cols-5 {
    margin-top: 2rem;
}