body {
    font-family: "Open Sans",sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: #f3f3f3;
}

main {
    padding: 2rem 3rem 3rem 3rem !important;
}

.bg-light {
   background-color: #f8f9fa !important;
}

.bg-dark {
    background-color: #5b5c5e !important
}

.btn-sm .feather {
    width: 13px;
}

h1 {
    font-size: 2rem;
}

h3, input.card-text {
    font-size: 1.5rem;
}

input.card-text:disabled {
    background-color: initial;
    border: 0;
}

h1, h2, h3, h4 {
    color: #5c6369;
}

.dropdown-menu {
    font-size: 0.8rem;
}

.input-group-text {
    border-radius: 0;
    height: 100%;
}

.form .form-group {
    margin-bottom: 2rem;
}

.feather {
    height: auto;
    vertical-align: middle;
    width: 16px;
}

svg.feather.feather-info {
    width: 14px;
}

small .feather {
    width: 12px;
}

.breadcrumb-item a {
    text-decoration: none;
}

.card {
    margin: 3rem 0 3rem;
}

.card-group .card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.card-footer {
    background-color: #f8f9fa;
}

.card-text .feather {
    width: 1.5rem;
}

p.card-text .feather {
    width: 0.9rem;
}

.grid {
    margin-bottom: 1rem;
}

.grid .card {
    margin: 1rem 0 1rem;
    width: 18rem;
}

.row-cols-3 .card {
    margin: 0;
}

.row-cols-3 {
    margin-top: 1rem;
}

.row-cols-5 .card-title {
    font-size: 1.25rem;
}

.row-cols-5 .card-footer {
    padding: 0;
}

.row-cols-5 .card {
    margin: 1rem 0 1rem;
}

.row-cols-5 .btn-sm,
.row-cols-5 .feather {
    font-size: 0.9rem;
}

.card-header {
    background-color: white;
    padding: 1rem 1rem;
}

.nav-pills {
    margin-bottom: 3em;
}

.nav-pills {
    background-color: rgba(0,0,0,.03) !important;
}

.nav-pills a {
    color: #5c6369 !important
}

.btn-toolbar .btn {
    margin-left: 10px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef75;
}

.btn:disabled {
    background-color: #e9ecef75;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 7px;
}

.list .card {
    margin: 1rem 0 1rem;
}

.list {
    margin: 1rem 0 1rem;
}

.list .card-body {
    display: flex;
    align-items: center;
}