body {
    font-family: "Open Sans",sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.6;
}

main {
    background-color: #efefef;
    padding: 1rem 3rem 3rem 3rem !important;
}

.bg-light {
   background-color: #f8f9fa !important;
}

.bg-dark {
    background-color: #5b5c5e !important
}

h1 {
    font-size: 2rem;
}

h3, input.card-text {
    font-size: 1.5rem;
}

input.card-text:disabled {
    background-color: initial;
    border: 0;
}

h1, h2, h3, h4 {
    color: #5c6369;
}

.dropdown-menu {
    font-size: 0.8rem;
}

.input-group-text {
    border-radius: 0;
    height: 100%;
}

.feather {
    height: auto;
    vertical-align: middle;
}

.breadcrumb-item a {
    text-decoration: none;
}

.card {
    margin: 3rem 0 3rem;
}

.card-group .card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.card-text .feather {
    width: 1.5rem;
}

.grid {
    margin-bottom: 1rem;
}

.grid .card {
    margin: 1rem 0 1rem;
    width: 18rem;
}

.card-header {
    background-color: white;
    padding: 1rem 1rem;
}

.nav-pills {
    margin-bottom: 3em;
}

.nav-pills .nav-item {
    background-color: rgba(0,0,0,.03) !important;
}

.nav-pills a {
    color: #5c6369 !important
}