.table {
    margin-bottom: 0;
}

.card-footer {
    border-top: 0;
}

ul {
    margin: 0;
}

.page-item.active .page-link {
    background-color: white;
    border-color: #dee2e6;
    color: #727272;
}