.table {
    margin-bottom: 0;
    color: #677788;
}

ul {
    margin: 0;
}

.page-item.active .page-link {
    background-color: white;
    border-color: #dee2e6;
    color: #727272;
}

.table a {
    text-decoration: none;
    color: #5c6369;
    margin-bottom: .5rem;
    line-height: 1.4;
}

.table a:hover {
    color: #007bff;
}

th[scope="row"]+td a {
    font-weight: 600;
    padding-right: 10px;
}

th[scope="row"],
th[scope="row"]+td {
    width: 10px;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit;
}

.table thead th {
    text-transform: uppercase;
    font-weight: 600;
}

thead tr:first-child {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

tr {
    padding: 1rem;
    border-color:  #ddd;
}

.filters {
    display: flex;
    margin-top: 0.8rem;
    align-items: center;

}

.filter {
    color: #007bff;
    border: 1px solid #007bff;
    padding: 0.5rem;
    border-radius: 0.25rem !important;
}

.filters .input-group {
    width: auto;
}

.card-header .nav-tabs {
    margin-left: 0.5rem;
}

.card-footer {
    min-height: 2.5rem;
}

.type-col {
    width: 3rem;
    text-align: right;
}