.table {
    margin-bottom: 0;
    color: #677788;
}

ul {
    margin: 0;
}

.page-item.active .page-link {
    background-color: white;
    border-color: #dee2e6;
    color: #727272;
}

.table a {
    text-decoration: none;
    color: #5c6369;
    margin-bottom: .5rem;
    line-height: 1.4;
}

.table a:hover {
    color: #007bff;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit;
}

td:first-child, th:first-child {
    text-align: center;
    border-right: solid 1px #dee2e6;
    width: 3%;
}

.score {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.table thead th {
    text-transform: uppercase;
    font-weight: 600;
}

thead tr:first-child {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

tr {
    padding: 1rem;
    border-color:  #ddd;
}

.filters {
    display: flex;
    margin-top: 0.8rem;
    align-items: center;

}

.filter {
    color: #007bff;
    border: 1px solid #007bff;
    padding: 0.5rem;
    border-radius: 0.25rem !important;
}

.filters .input-group {
    width: auto;
}

.card-header .nav-tabs {
    margin-left: 0.5rem;
}

.card-footer {
    min-height: 3.5rem;
}

.table-responsive + .card-footer {
    border-top: 0px;
}

.table-responsive + .card-body {
    height: 10em;
}

.type-col {
    width: 3rem;
    text-align: right;
}

.col-sm {
    width: 5%;
}

.card-body, .card-header {
    color: #424447;
}

.list td {
    font-size: 1.2rem;
}

.list th, .list td {
    border: none;
}

.list thead th {
    font-weight: 500;
    padding-bottom: 0px;
}

.list thead tr:first-child {
    border-bottom: none;
}

.list td:first-child, .list th:first-child {
    width: 7%;
}

.candidate {
    flex-direction: row;
    padding: 0.5rem 0 0.5rem 0;
}

.candidate .table-responsive {
    flex: auto;
}

.candidate .table-responsive + * {
    display: flex;
    padding: 0 2rem 0 2rem;
}

.candidate .btn-lg .feather {
    width: 25px;
}